RewriteEngine On
RewriteBase /rate-calculator-api/

# Redirect Trailing Slashes (optional but good)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)/$ $1 [L,R=301]

# Send everything to index.php (except real files/folders)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]